.sideBar{
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 75px;
	z-index: 200;
    background-color: white;
	
}
.sideBar-BOX{
	height: 71px;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.sideBar-BOX:hover {

	background-color: lightgrey;
}
.home-icon{
	height: 50px;
}
.explore-icon{
	height: 50px;
}
.shorts-icon{
	height: 25px;
	margin-bottom: 15px;
}
.subs-icon{
	height: 25px;
	margin-bottom: 20px;
}
.music-icon{
	height: 30px;
	margin-bottom: 20px;
}
.library-icon{
	height: 30px;
	margin-bottom: 20px;
}
.sideBar-BOX div{
	font-family: Roboto,Arial ;
	font-size: 12px;
}